.modal-settings {
  .ant-list-item-meta-avatar {
    svg {
      fill: $gray-1;
      height: rem(24);
      width: rem(24);
    }
  }

  .ant-list-item-meta-description {
    color: $gray-6 !important;
    font-size: rem(12) !important;
  }

  .ant-list-item-meta {
    align-items: center !important;
  }

  .ant-list-item {
    background-color: $blue-base;
    border: none;
    border-radius: rem(8);
    cursor: pointer;
    justify-content: center;
    padding: rem(14);
    transition: all 0.3s;

    &:hover {
      background-color: $blue-light;
    }

    + .ant-list-item {
      margin-top: rem(16);
    }
  }

  .arrow {
    fill: $gray-1;
    height: rem(16);
    width: rem(16);
  }

  .delete {
    svg {
      fill: $orange-base !important;
    }

    .ant-list-item-meta-title {
      color: $orange-base !important;
    }
    .ant-list-item-meta-description {
      color: $orange-base !important;
    }
  }

  .ant-modal-footer {
    display: none;
  }

  .ant-modal-content {
    padding: 0 rem(30) rem(30);
  }
}

html[theme="dark"] {
  .ant-list-item-meta-description {
    color: $gray-1 !important;
  }
  .ant-list-item-meta-title {
    color: $gray-1 !important;
  }
  .ant-list-item-meta-avatar {
    svg {
      fill: $gray-1;
    }
  }
}

html[theme="light"] {
  .ant-list-item-meta-description {
    color: $gray-8 !important;
  }
  .ant-list-item-meta-title {
    color: $gray-8 !important;
  }
  .ant-list-item-meta-avatar {
    svg {
      fill: $gray-8;
    }
  }
}
