@use "~variables" as *;

.modal-achievements {
  margin-left: auto;
  margin-right: auto;
  .achievements-info {
    border-radius: rem(12) !important;
    background-image: url("/images/share-achievements.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: rem(30);
    .logo {
      align-items: center;
      padding: 0;
      display: flex;
      gap: rem(8);
      height: rem(28);
      .shape {
        height: rem(30) !important;
      }
      .name {
        color: $gray-1;
        font-size: rem(25);
        line-height: rem(25);
        font-weight: 600;
      }
    }
    .share-vult {
      display: flex;
      margin-top: rem(25);
      gap: rem(15);
      .share-info {
        .title {
          display: block;
          font-size: rem(20);
          font-weight: 500;
          line-height: rem(22);
          span {
            font-weight: 700;
          }
        }
        .total-vulties {
          color: #97acbf;
          display: block;
          font-size: rem(16);
          margin-top: rem(14);
        }
        .total-vulties-numder {
          color: $cyan-base;
          display: block;
          font-size: rem(28);
          font-weight: 600;
          line-height: rem(30);
        }
      }
      .img {
        width: 30%;
        max-width: rem(107);
      }
    }
    .swap-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      margin-top: rem(21);
      height: rem(80);
      li {
        border-left: 1px rgba(27, 63, 115, 1) solid;
        // background-color: gray;
        padding: rem(5) rem(10) rem(45) rem(10);
        position: relative;
        width: 33%;
        height: 100%;
        .title {
          display: block;
          color: #97acbf;
          font-size: rem(11);
          margin-bottom: rem(5);
        }
        .number {
          position: absolute;
          bottom: rem(1);
          display: block;
          font-size: rem(18);
          font-weight: 600;
        }
        .multiplier {
          position: absolute;
          bottom: rem(1);
          color: $blue-persian;
          font-size: rem(18);
          font-weight: 600;
        }
      }
    }
  }
  .contact-links {
    margin-top: rem(24);
    padding: rem(10);
    text-align: center;
    color: $gray-1 !important;
    cursor: pointer;
    .anticon{
      margin-right: rem(7);
    }
    .link {
      display: flex;
      gap: rem(12);
      justify-content: center;
      font-size: rem(16);
      font-weight: 600;
      margin-bottom: rem(8);
    }
    &:hover{
      background-color: $blue-light-2 !important;
    }
  }
  .ant-modal-footer {
    display: none;
  }
}
@media (min-width: rem(576)) {
  .swap-info {
    height: rem(70) !important;
  }
}
