@use "~variables" as *;

.modal-achievements {
  .card {
    background-image: url("/images/share-achievements.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: rem(12);
    display: flex;
    flex-direction: column;
    gap: rem(24);
    padding: rem(24);

    .ant-spin {
      color: currentColor;

      .ant-spin-dot-holder {
        color: currentColor;
      }
    }

    .logo {
      align-items: center;
      display: flex;
      gap: rem(8);

      span {
        color: $gray-1;
        font-size: rem(24);
        line-height: rem(28);
        font-weight: 600;
      }

      svg {
        height: rem(34);

        path {
          fill: $gray-1;
        }
      }
    }

    .rank {
      align-items: center;
      display: flex;
      gap: rem(4);
      justify-content: space-between;

      .title {
        flex: none;
        font-size: rem(24);
        font-weight: 600;
        line-height: rem(28);
        width: rem(198);
      }

      .value {
        align-items: center;
        background-color: rgba(#00f2fa, 0.1);
        border: solid 1px #00f2fa;
        border-radius: rem(30);
        display: flex;
        flex-grow: 1;
        font-size: rem(24);
        font-weight: 600;
        height: rem(60);
        justify-content: center;
        padding: 0 rem(12);
        white-space: nowrap;
      }
    }

    .stats {
      display: flex;
      gap: rem(40);

      .item {
        display: flex;
        flex-direction: column;
        gap: rem(8);
        padding-left: rem(16);
        position: relative;

        .title {
          font-size: rem(14);
          font-weight: 500;
          line-height: rem(16);
        }

        .multiplier {
          color: $cyan-base;
          font-size: rem(30);
          font-weight: 700;
          line-height: rem(30);
        }

        &::before {
          background-color: $gray-1;
          content: "";
          height: rem(48);
          left: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: rem(1);
        }
      }
    }
  }

  .ant-list-item {
    align-items: center;
    background-color: #03a9f4 !important;
    color: $gray-1 !important;
    cursor: pointer;
    display: flex;
    gap: rem(8);
    justify-content: center;
    margin-top: rem(24);
    padding: rem(10);

    &:hover {
      background-color: $blue-light-2 !important;
    }
  }
}
