@use "~variables" as *;

.positions-page {
  .breadcrumb {
    align-items: center;
    display: flex;
    gap: rem(16);
    justify-content: space-between;
    margin-bottom: rem(24);

    .vault-dropdown {
      max-width: rem(328);
      width: 100%;
    }

    .ant-btn {
      border-radius: 50%;

      svg {
        fill: $gray-1;
        height: rem(24);
        height: rem(24);
      }
    }
  }

  .section {
    > .heading {
      display: block;
      font-size: rem(24);
      font-weight: 700;
      line-height: rem(36);
    }

    .position-item {
      margin-top: rem(12);
    }

    + .section {
      margin-top: rem(36);
    }
  }
}

html[theme="light"] {
  .positions-page {
    .breadcrumb {
      .ant-btn {
        svg {
          fill: $gray-8;
        }
      }
    }
  }
}
