.positions-page {
  .breadcrumb {
    align-items: center;
    display: flex;
    gap: rem(16);
    justify-content: space-between;
    margin-bottom: rem(24);

    .vault-dropdown {
      max-width: rem(328);
      width: 100%;
    }

    .ant-btn {
      border-radius: 50%;

      svg {
        fill: $gray-1;
        height: rem(24);
        height: rem(24);
      }
    }
  }
  .h-title {
    margin-bottom: rem(24);
    margin-top: rem(24);
    font-weight: 200;
  }

  .line {
    width: 100%;
    height: rem(3);
    margin-top: rem(16);
    background-image: $linear-gradient;
    border-radius: rem(2);
  }
}

html[theme="light"] {
  .positions-page {
    .breadcrumb {
      .ant-btn {
        svg {
          fill: $gray-8;
        }
      }
    }
  }
}
