@use "~variables" as *;

.import-page {
  padding: rem(48) rem(16);
  text-align: center;

  .logo {
    display: flex;
    font-size: rem(40);
    font-weight: 600;
    gap: rem(12);
    justify-content: center;
    line-height: rem(48);
    margin: 0 auto rem(48);

    svg {
      height: rem(48);
    }
  }

  .wrapper {
    background-color: $blue-base;
    border-radius: rem(12);
    margin: 0 auto;
    max-width: rem(672);
    padding: rem(36) rem(48);

    .heading {
      font-size: rem(24);
      font-weight: 700;
      margin-bottom: rem(32);
      line-height: rem(36);
    }

    .ant-btn {
      + .ant-btn {
        margin-top: rem(28);
      }
    }
  }

  .download-vultisig {
    margin-top: rem(32);
  }
}

html[theme="dark"] {
  .import-page {
    .logo {
      fill: $gray-1;
    }

    .wrapper {
      background-color: $gray-12;
    }
  }
}

html[theme="light"] {
  .import-page {
    .logo {
      fill: $gray-8;
    }

    .wrapper {
      background-color: $gray-3;
    }
  }
}
