.modal-rename-vault {
  .ant-input {
    background-color: $blue-dark !important;
    border: none;
    box-shadow: none !important;
    line-height: rem(48);
  }

  .ant-btn {
    color: $blue-dark !important;
    height: rem(44);
  }

  .ant-modal-footer {
    margin: 0;
  }
}
