.asset-item {
  border-top: solid 1px $blue-light;
  position: relative;

  .token {
    padding-left: rem(48);
    position: relative;

    .token-image {
      height: rem(24);
      left: rem(4);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: rem(24);
    }

    .name {
      display: block;
      font-size: rem(20);
      line-height: rem(68);
    }
  }

  .balance {
    font-size: rem(12);
    line-height: rem(16);
    position: absolute;
    right: 0;
    top: rem(38);
    white-space: nowrap;
  }

  .value {
    font-size: 1.25em;
    font-weight: 700;
    line-height: rem(22);
    position: absolute;
    right: 0;
    top: rem(12);
    white-space: nowrap;
  }
}

html[theme="dark"] {
  .assets-page {
    .content {
      background-color: $gray-12;
    }
    .asset-item {
      border-top: solid 1px $gray-11;
    }
  }
}

html[theme="light"] {
  .assets-page {
    .content {
      background-color: $gray-3;
      color: $gray-8;
    }
    .asset-item {
      border-top: solid 1px $gray-5;
    }
  }
}

@media (min-width: rem(768)) {
  .asset-item {
    display: flex;
    justify-content: space-between;

    .token {
      width: 30%;
    }

    .balance {
      font-size: rem(16);
      line-height: rem(68);
      position: static;
      text-align: center;
      width: 30%;
    }

    .value {
      line-height: rem(68);
      position: static;
      text-align: right;
      width: 30%;
    }
  }
}
