@font-face {
  font-family: "Menlo";
  src: url("/fonts/menlo-regular.otf") format("opentypetruetype"),
    url("/fonts/menlo-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
