@use "sass:math";

@import "_normalize";
@import "_montserrat";
@import "_variables";

@import "../components/asset-item";
@import "../components/chain-item";
@import "../components/preloader";
@import "../components/splash-screen";
@import "../components/token-actions";
@import "../components/token-image";
@import "../components/footer";

@import "../modals/change-currency";
@import "../modals/change-language";
@import "../modals/delete-vault";
@import "../modals/join-airdrop";
@import "../modals/qr-code";
@import "../modals/rename-vault";
@import "../modals/vault-settings";
@import "../modals/share-settings";

@import "../pages/assets";
@import "../pages/chains";
@import "../pages/import";

body {
  background-color: $blue-dark;
  color: $gray-1;
  font-family: "Montserrat";
  min-width: 22.5rem;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    background-color: $blue-base;
    width: 0.5rem;
  }

  &::-webkit-scrollbar-corner {
    background-color: $blue-base;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $blue-light;
  }
}

.ant-btn-link {
  border: none;
  height: auto;
  padding: 0;
}

.ant-btn-primary {
  background-color: $cyan-base;
}

.ant-btn-primary:hover {
  background-color: $cyan-light !important;
}

.ant-drawer {
  .ant-drawer-header {
    padding: 1rem 0.5rem;
  }

  .ant-drawer-body {
    padding: 0 0.5rem;

    &::-webkit-scrollbar {
      background-color: $blue-base;
      width: 0.5rem;
    }

    &::-webkit-scrollbar-corner {
      background-color: $blue-base;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blue-light;
    }
  }

  .ant-drawer-content {
    background-color: $blue-dark;
  }
}

.ant-dropdown {
  width: 17.5rem;

  .ant-dropdown-menu-item-icon {
    fill: $gray-1;
    height: 1.25rem;
  }

  .ant-dropdown-menu-title-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .ant-dropdown-menu-item-group-title {
    color: $gray-6 !important;
    font-weight: 500;
  }

  .ant-dropdown-menu-item {
    color: $gray-1 !important;
    font-size: 0.875rem;
    line-height: 1.75rem !important;
  }

  .ant-dropdown-menu {
    background-color: $blue-base !important;
  }

  .primary {
    .ant-dropdown-menu-title-content {
      a {
        color: $cyan-base !important;
      }

      svg {
        fill: $gray-1;
        height: 1.25rem;
        width: 1.25rem;
      }
    }
  }
}

.ant-empty {
  background-color: $blue-base;
  border-radius: 0.5rem;
  margin: 0;
  padding: 1.5rem 1rem;

  .ant-empty-description {
    color: $gray-1;
  }

  .ant-empty-image {
    svg {
      opacity: 1 !important;
    }
  }
}

.ant-input-affix-wrapper {
  background-color: $blue-base !important;
  border: none;
  box-shadow: none !important;

  .ant-input {
    background-color: transparent;
    line-height: 2rem;
  }

  .ant-input-prefix {
    svg {
      fill: $gray-1;
      height: 1.5rem;
      opacity: 0.4;
      width: 1.5rem;
    }
  }

  &.ant-input-affix-wrapper-focused {
    background-color: $blue-light !important;
  }
}

.ant-modal {
  .ant-modal-close {
    right: 1.875rem;
    top: 1.125rem;
  }

  .ant-modal-title {
    font-weight: normal;
    line-height: 2rem;
    text-align: center;
  }

  .ant-modal-header {
    margin: 0;
    padding: 1.125rem 0;
  }

  .ant-modal-content {
    padding: 0 1.875rem 1.875rem;
    background-color: $blue-base;
    .ant-modal-header {
      background-color: $blue-base;
    }
    .ant-list-item {
      background-color: $blue-light;
      color: $gray-7;
    }
    .active {
      color: $gray-1;
    }
  }
}

.ant-select {
  height: 3rem;

  .ant-select-selection-item {
    color: $gray-1 !important;
  }

  .ant-select-selector {
    background-color: $blue-base !important;
    border: none !important;
    box-shadow: none !important;
  }

  .ant-select-arrow {
    .anticon {
      color: $gray-1;
    }
  }
}

.ant-select-dropdown {
  background-color: $blue-base;

  .ant-select-item-option-selected {
    background-color: rgba($color: $gray-1, $alpha: 0.1) !important;
  }

  .ant-select-item {
    color: $gray-1 !important;
    line-height: 1.75rem;
  }
}

.ant-spin {
  &.center-spin {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.layout {
  &-header {
    align-items: center;
    background-color: $blue-dark;
    border-bottom: solid 1px $blue-light;
    display: flex;
    height: 6.25rem;
    justify-content: space-between;
    min-width: 22.5rem;
    padding: 1.875rem 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;

    .logo {
      display: flex;
      align-items: center;
      .shape {
        height: rem(50) !important;
      }
      .text {
        fill: $gray-1;
        width: 9rem !important;
        padding: 0.4rem;
      }
    }

    .menu {
      svg {
        fill: $gray-1;
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }

  &-content {
    margin: 0 auto;
    max-width: 72.5rem;
    overflow: hidden;
    padding: 2rem 1rem 8rem 1rem;
    width: 100%;
  }
}

.ant-tooltip {
  .ant-tooltip-inner {
    background-color: $blue-light !important;
    color: $gray-1;
  }
  .ant-tooltip-arrow {
    &::after,
    &::before {
      background-color: $blue-light !important;
    }
  }
}

.ant-message {
  .ant-message-notice-content {
    background-color: $blue-light !important;
  }
}

html[theme="Dark"] {
  body {
    background-color: $gray-13;
  }

  body::-webkit-scrollbar {
    background-color: $gray-12;
  }

  body::-webkit-scrollbar-corner {
    background-color: $gray-12;
  }

  body::-webkit-scrollbar-thumb {
    background-color: $gray-11;
  }

  .layout-header {
    background-color: $gray-13;
    border-bottom: 1px solid $gray-11;
  }

  .ant-drawer {
    .ant-drawer-body {
      &::-webkit-scrollbar {
        background-color: $gray-13;
      }

      &::-webkit-scrollbar-corner {
        background-color: $gray-13;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $gray-12;
      }
    }

    .ant-drawer-content {
      background-color: $gray-12;
    }
  }

  .ant-dropdown {
    .ant-dropdown-menu {
      background-color: $gray-11 !important;
    }
  }

  .ant-empty {
    background-color: $gray-13;
  }

  .ant-input-affix-wrapper {
    background-color: $gray-11 !important;

    &.ant-input-affix-wrapper-focused {
      background-color: $gray-11 !important;
    }
  }

  .ant-select {
    .ant-select-selector {
      background-color: $gray-13 !important;
    }
  }

  .ant-input {
    background-color: $gray-11 !important;
  }

  .ant-select-dropdown {
    background-color: $gray-13;
  }

  .ant-modal-content {
    background-color: $gray-12;
    .ant-modal-header {
      background-color: $gray-12;
    }
    .ant-list-item {
      background-color: $gray-11;
    }
    .ant-list-items {
      .ant-list-item {
        color: $gray-7;
      }
      .active {
        color: $gray-1;
      }
    }
  }

  .layout {
    &-header {
      background-color: $gray-13;
      border-bottom: solid 1px $gray-12;
      .logo {
        .text {
          fill: $gray-1;
        }
      }
    }
  }

  .ant-tooltip-inner {
    background-color: $gray-10 !important;
    color: $gray-1;
  }

  .ant-tooltip {
    .ant-tooltip-inner {
      background-color: $gray-8 !important;
      color: $gray-5 !important;
    }
    .ant-tooltip-arrow {
      &::after,
      &::before {
        background-color: $gray-8 !important;
      }
    }
  }

  .ant-message {
    .ant-message-notice-content {
      background-color: $gray-12 !important;
    }
  }
}

html[theme="Light"] {
  body {
    background-color: $gray-1;
    color: $gray-8;
  }
  body::-webkit-scrollbar {
    background-color: $gray-6;
  }
  body::-webkit-scrollbar-corner {
    background-color: $gray-6;
  }
  body::-webkit-scrollbar-thumb {
    background-color: $gray-5;
  }
  .layout-header {
    background-color: $gray-1;
    border-bottom: 1px solid $gray-8;
    .logo {
      .text {
        fill: $gray-8;
      }
    }
  }

  .ant-drawer {
    .ant-drawer-body {
      &::-webkit-scrollbar {
        background-color: $gray-5;
      }

      &::-webkit-scrollbar-corner {
        background-color: $gray-5;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $gray-4;
      }
    }
    .ant-drawer-content {
      background-color: $gray-5;
    }
  }

  .ant-upload-drag-container {
    .name {
      color: $gray-8;
    }
  }

  .ant-dropdown {
    .ant-dropdown-menu-item-icon {
      fill: $gray-8;
    }
    .primary {
      .ant-dropdown-menu-title-content {
        svg {
          fill: $gray-8;
        }
      }
    }
    .ant-dropdown-menu {
      background-color: $gray-4 !important;
      color: $gray-10;
    }
    .ant-dropdown-menu-item {
      color: $gray-8 !important;
    }
  }

  .ant-empty {
    background-color: $gray-3;
    .ant-empty-description {
      color: $gray-8;
    }

    .ant-empty-image {
      svg {
        fill: $gray-8;
      }
    }
  }

  .ant-input-affix-wrapper {
    background-color: $gray-6 !important;
    .ant-input {
      background-color: $gray-6 !important;
      color: $gray-8;
    }
    &.ant-input-affix-wrapper-focused {
      background-color: $gray-6 !important;
    }
  }

  .ant-select {
    .ant-select-selector {
      background-color: $gray-5 !important;
    }
  }

  .ant-input {
    background-color: $gray-3 !important;
    color: $gray-8;
  }

  .ant-select-dropdown {
    background-color: $gray-5;
  }

  .ant-modal-title {
    color: $gray-8 !important;
  }

  .ant-modal {
    .ant-modal-close {
      color: $gray-8;
    }
  }

  .ant-modal-content {
    background-color: $gray-5;
    .ant-modal-header {
      background-color: $gray-5;
    }
    .ant-list-item {
      background-color: $gray-4;
      svg {
        fill: $gray-8;
      }
    }
    .ant-list-items {
      .ant-list-item {
        color: $gray-7;
      }
      .active {
        color: $gray-12;
      }
    }
    .ant-typography{
      color: $gray-8;
    }
    .ant-qrcode{
      background-color: $gray-7 !important;
    }
  }

  .layout {
    &-header {
      background-color: $gray-1;
      border-bottom: solid 1px $gray-5;
    }
    .add{
      color: $gray-8;
    }
    .menu {
      svg {
        fill: $gray-8;
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }

  .ant-tooltip {
    .ant-tooltip-inner {
      background-color: $gray-5 !important;
      color: $gray-8;
    }
    .ant-tooltip-arrow {
      &::after,
      &::before {
        background-color: $gray-5 !important;
      }
    }
  }

  .ant-message {
    .ant-message-notice-content {
      background-color: $gray-5 !important;
      color: $gray-8;
    }
  }
}

@media (min-width: 72.5rem) {
  .layout {
    > .header {
      padding: 1.875rem 2.5rem;
    }
  }
}
