@use "~variables" as *;

.nft-assets-page {
  .breadcrumb {
    align-items: center;
    display: flex;
    gap: rem(16);
    height: rem(36);

    svg {
      fill: $gray-1;
      height: inherit;
      transform: rotate(180deg);
      width: inherit;
    }

    .back {
      cursor: pointer;
      height: rem(24);
      width: rem(24);
    }

    .name {
      font-size: rem(24);
      font-weight: 700;
    }
  }

  .nft {
    align-items: center;
    display: flex;
    gap: rem(16);
    padding: rem(16) 0 rem(48);
    position: relative;

    .token-image {
      height: rem(48);
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: rem(48);
    }

    .name {
      display: block;
      font-family: $secondary-font;
      font-size: rem(20);
      height: rem(20);
      line-height: rem(18);
    }

    .counted {
      background-color: rgba($color: $cyan-base, $alpha: 0.2);
      border-radius: rem(12);
      display: flex;
      font-size: rem(12);
      font-weight: 600;
      float: left;
      gap: rem(4);
      line-height: rem(22);
      margin-top: rem(6);
      padding: 0 rem(8) 0 rem(4);

      svg {
        fill: $cyan-base;
        height: rem(22);
        width: rem(22);
      }
    }

    .token {
      flex-grow: 1;
      overflow: hidden;
      padding-left: rem(56);
      position: relative;
    }

    .amount {
      bottom: rem(16);
      font-family: $secondary-font;
      font-size: rem(20);
      font-weight: 700;
      left: rem(56);
      line-height: rem(24);
      position: absolute;
    }

    .action {
      height: rem(24);
      width: rem(24);

      svg {
        fill: $cyan-base;
        height: inherit;
        width: inherit;
      }
    }
  }

  .content {
    background-color: $blue-base;
    border-radius: rem(8);
    margin-top: rem(34);
    padding: 0 rem(20);
  }

  .add {
    align-items: center;
    color: $gray-3;
    display: flex;
    font-family: $secondary-font;
    font-weight: 700;
    float: left;
    gap: rem(16);
    line-height: rem(32);
    margin-top: rem(24);

    svg {
      fill: $cyan-base;
      height: rem(32);
      width: rem(32);
    }
  }
}

@media (min-width: rem(576)) {
  .nft-assets-page {
    .nft {
      padding-bottom: rem(16);

      .amount {
        position: static;
      }
    }
  }
}

html[theme="dark"] {
  .nft-assets-page {
    .breadcrumb {
      svg {
        fill: $gray-5;
      }
    }

    .content {
      background-color: $gray-12;
    }
  }
}

html[theme="light"] {
  .nft-assets-page {
    .breadcrumb {
      svg {
        fill: $gray-5;
      }
    }

    .content {
      background-color: $gray-3;
    }
  }
}

@media (min-width: rem(768)) {
  .nft-assets-page {
    .chain {
      display: flex;
      gap: rem(24);

      .amount {
        position: static;
      }
    }
  }
}
