.chains-page {
  .breadcrumb {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    .ant-input {
      background-color: $blue-base;
      border: none;
      box-shadow: none;
      cursor: pointer;
      height: 3rem;
      max-width: 21.625rem;
      width: 100%;
    }

    .ant-btn {
      border-radius: 50%;

      svg {
        fill: $gray-1;
        height: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .total-balance {
    margin-bottom: 2rem;

    .title {
      display: block;
    }

    .value {
      display: block;
      font-size: 2.5rem;
      font-weight: 700;
      margin-top: 1rem;
    }
  }

  .add {
    align-items: center;
    color: $gray-1;
    display: flex;
    float: left;
    gap: 1rem;
    margin-top: 1.5rem;

    svg {
      fill: $cyan-base;
      height: 2rem;
      width: 2rem;
    }
  }
}
