@use "~variables" as *;

.chains-page {
  .information {
    background-image: $linear-gradient;
    border-radius: rem(8);
    display: block;
    font-family: $secondary-font;
    margin-bottom: rem(24);
    padding: rem(12) rem(12) rem(12) rem(44);
    position: relative;

    span {
      display: block;
      font-size: rem(12);
      line-height: rem(18);
      position: relative;
      text-align: center;
    }

    svg {
      fill: $cyan-base;
      height: rem(24);
      left: rem(12);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: rem(24);
    }

    &::before {
      background-color: $blue-base;
      border-radius: rem(8);
      bottom: rem(1);
      content: "";
      left: rem(1);
      position: absolute;
      right: rem(1);
      top: rem(1);
    }
  }

  .breadcrumb {
    align-items: center;
    display: flex;
    gap: rem(16);
    justify-content: space-between;
    margin-bottom: rem(24);

    .vault-dropdown {
      max-width: rem(328);
      width: 100%;
    }

    .ant-btn {
      border-radius: 50%;

      svg {
        fill: $gray-1;
        height: rem(22);
        width: rem(24);
      }
    }
  }

  .total-balance {
    margin-bottom: rem(32);

    .title {
      display: block;
      font-family: $secondary-font;
      font-size: rem(16);
    }

    .value {
      display: block;
      font-size: rem(40);
      font-weight: 700;
      margin-top: rem(16);
    }
  }

  .add {
    align-items: center;
    color: $gray-1;
    display: flex;
    font-family: $secondary-font;
    font-weight: 700;
    float: left;
    gap: rem(16);
    line-height: rem(32);
    margin-top: rem(24);

    svg {
      fill: $cyan-base;
      height: rem(32);
      width: rem(32);
    }
  }
}

html[theme="dark"] {
  .chains-page {
    .add {
      color: $gray-1;
    }
  }
}

html[theme="light"] {
  .chains-page {
    .add {
      color: $gray-8;
    }

    .breadcrumb {
      .ant-btn {
        svg {
          fill: $gray-8;
        }
      }
    }
  }
}
