.chains-page {
  padding-bottom: rem(128);

  .breadcrumb {
    align-items: center;
    display: flex;
    gap: rem(16);
    justify-content: space-between;
    margin-bottom: rem(24);

    .vault-dropdown {
      max-width: rem(328);
      width: 100%;
    }

    .ant-btn {
      border-radius: 50%;

      svg {
        fill: $gray-1;
        height: rem(22);
        width: rem(24);
      }
    }
  }

  .total-balance {
    margin-bottom: rem(32);

    .title {
      display: block;
    }

    .value {
      display: block;
      font-size: rem(40);
      font-weight: 700;
      margin-top: rem(16);
    }
  }

  .add {
    align-items: center;
    color: $gray-1;
    display: flex;
    float: left;
    gap: rem(16);
    margin-top: rem(24);

    svg {
      fill: $cyan-base;
      height: rem(32);
      width: rem(32);
    }
  }
}

html[theme="dark"] {
  .chains-page {
    .add {
      color: $gray-1;
    }
  }
}

html[theme="light"] {
  .chains-page {
    .add {
      color: $gray-8;
    }

    .breadcrumb {
      .ant-btn {
        svg {
          fill: $gray-8;
        }
      }
    }
  }
}
