.modal-preloader {
  text-align: center;
  width: auto !important;

  .vulti-loading {
    margin: 0 auto;
  }

  .ant-modal-title {
    font-weight: 400;
  }

  .ant-modal-footer {
    display: none;
  }
}
