.join-airdrop {
  .ant-form {
    margin: 1.5rem 0;
  }

  .ant-list-item-meta-title {
    margin: 0;
  }

  .ant-list-item {
    background-color: $blue-base;
    border: none;
    border-radius: 0.5rem;
    padding: 0.875rem;

    + .ant-list-item {
      margin-top: 1rem;
    }
  }

  .ant-modal-body {
    padding: 1.5rem 0;

    .value {
      display: block;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2.25rem;
      margin-bottom: 1.5rem;
      text-align: center;
    }

    .text {
      display: block;
      font-weight: 600;
      text-align: center;
    }

    .desc {
      display: block;
      font-size: 0.75rem;
    }

    .link {
      color: $cyan-base;
      font-size: 0.75rem;
    }

    .hint {
      + .hint {
        margin-top: 2rem;
      }
    }
  }

  .ant-btn {
    color: $gray-13 !important;
  }

  .ant-modal-footer {
    margin: 0;
  }

  .ant-modal-content {
    padding: 0 1.875rem 1.875rem;
  }
}
