.join-airdrop {
  .ant-form {
    margin: rem(24) 0;
  }

  .ant-list-item-meta-title {
    margin: 0;
  }

  .ant-list-item {
    background-color: $blue-base;
    border: none;
    border-radius: rem(8);
    padding: rem(14);

    + .ant-list-item {
      margin-top: rem(16);
    }
  }

  .ant-modal-body {
    padding: rem(24) 0;

    .value {
      display: block;
      font-size: rem(24);
      font-weight: 700;
      line-height: rem(36);
      margin-bottom: rem(24);
      text-align: center;
    }

    .text {
      display: block;
      font-weight: 600;
      text-align: center;
    }

    .desc {
      display: block;
      font-size: rem(12);
    }

    .link {
      color: $cyan-base;
      font-size: rem(12);
    }

    .hint {
      + .hint {
        margin-top: rem(32);
      }
    }
  }

  .ant-modal-footer {
    margin: 0;
  }

  .ant-modal-content {
    padding: 0 rem(30) rem(30);
  }
}
