@use "~variables" as *;

.join-airdrop {
  .image {
    margin: 0 auto rem(24);
    width: rem(108);
  }

  .heading {
    display: block;
    font-size: rem(16);
    font-weight: 600;
    text-align: center;
  }

  .text {
    display: block;
    font-size: rem(14);
    font-weight: 500;
    margin-top: rem(8);
    text-align: center;
  }

  .ant-modal-body {
    margin: rem(24) 0;
  }
}
