.modal-delete-vault {
  .vault-name-container {
    text-align: center;
  }

  .ant-input {
    background-color: $blue-dark !important;
    border: none;
    box-shadow: none !important;
    line-height: rem(48);
    width: 60%;
  }

  .ant-btn {
    background-color: $orange-base !important;
    &::before {
      content: none !important;
    }
    &:hover {
      background-color: $orange-light !important;
    }
  }

  .icon {
    fill: $orange-base;
    height: rem(64);
    margin: 0 auto;
  }

  .warning {
    display: block;
    font-size: rem(16);
    font-weight: 700;
    margin: rem(24) auto;
    text-align: center;
    width: rem(16) (64);
  }
}
html[theme="light"] {
  .modal-delete-vault {
    .warning {
      color: $gray-8 !important;
    }
  }
}
