@use "~variables" as *;

.modal-delete-vault {
  .ant-modal-body {
    .name {
      background-color: $blue-base;
      border-radius: rem(8);
      display: block;
      font-family: $secondary-font;
      font-size: rem(16);
      line-height: rem(48);
      overflow: hidden;
      padding: 0 rem(16);
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .icon {
      fill: $orange-base;
      height: rem(64);
      margin: 0 auto;
    }

    .warning {
      display: block;
      font-family: $secondary-font;
      font-size: rem(16);
      font-weight: 700;
      margin: rem(24) auto;
      text-align: center;
      width: rem(16) (64);
    }
  }

  .ant-modal-footer {
    margin-top: rem(24);

    .ant-btn {
      background-color: $orange-base;

      &::before {
        content: none;
      }

      &:hover {
        background-color: $orange-light;
      }
    }
  }
}
html[theme="light"] {
  .modal-delete-vault {
    .ant-modal-body {
      .warning {
        color: $gray-8;
      }
    }
  }
}
