.modal-delete-vault {
  .ant-btn {
    background-color: $red-base;

    &:hover {
      background-color: $red-light !important;
    }
  }

  .icon {
    fill: $red-base;
    height: 4rem;
    margin: 0 auto;
  }

  .warning {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin: 1.5rem auto;
    text-align: center;
    width: 14rem;
  }
}
