@use "~variables" as *;

.chain-item {
  background-color: $blue-base;
  border-radius: rem(8);
  overflow: hidden;
  padding: rem(16) rem(20);
  position: relative;

  .vulti-loading {
    flex: none;
    position: absolute;
    right: rem(20);
    top: rem(28);
  }

  .token-actions {
    justify-content: end;
  }

  .token-image {
    height: rem(32);
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: rem(32);
  }

  .type {
    height: rem(44);
    padding-left: rem(48);
    position: relative;

    .name {
      display: block;
      font-size: rem(16);
      font-weight: 700;
      line-height: rem(22);
    }

    .text {
      display: block;
      font-size: rem(12);
      font-weight: 600;
      line-height: rem(22);
    }

    .counted {
      background-color: rgba($color: $cyan-base, $alpha: 0.2);
      border-radius: rem(12);
      bottom: rem(-77);
      display: inline-flex;
      font-size: rem(12);
      font-weight: 600;
      gap: rem(4);
      left: 0;
      line-height: rem(22);
      padding: 0 rem(8) 0 rem(4);
      position: absolute;

      svg {
        fill: $cyan-base;
        height: rem(22);
        width: rem(22);
      }
    }
  }

  .key {
    font-family: $secondary-font;
    font-size: rem(12);
    height: rem(44);
    line-height: rem(44);
    overflow: hidden;
    text-align: center;
    width: 100%;
  }

  .asset {
    display: block;
    font-family: $secondary-font;
    font-size: rem(12);
    line-height: rem(24);
    position: absolute;
    right: rem(20);
    top: rem(38);
    white-space: nowrap;

    &.multi {
      border-radius: rem(16);
      background-color: $blue-light;
      padding: 0 rem(12);
    }
  }

  .amount {
    display: block;
    font-family: $secondary-font;
    font-size: rem(20);
    font-weight: 700;
    line-height: rem(24);
    position: absolute;
    right: rem(20);
    top: rem(16);
  }

  .arrow {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: end;
    left: 0;
    padding-right: rem(20);
    position: absolute;
    right: 0;
    top: 0;

    svg {
      display: none;
      fill: $gray-1;
      height: rem(20);
      height: rem(20);
    }
  }

  + .chain-item {
    margin-top: rem(16);
  }
}

html[theme="dark"] {
  .chain-item {
    background-color: $gray-12;
    color: $gray-1;
  }
  .chains-page .breadcrumb .ant-input {
    background-color: $gray-12;
  }
  .asset {
    &.multi {
      background-color: $gray-10;
    }
  }
}

html[theme="light"] {
  .chain-item {
    background-color: $gray-3;
    color: $gray-8;
    .token-image {
      border: 1px solid #dedede;
      border-radius: 50%;
    }
    .arrow {
      svg {
        fill: $gray-6;
      }
    }
  }
  .asset {
    &.multi {
      background-color: $gray-5;
    }
  }
}

@media (min-width: rem(768)) {
  .chain-item {
    align-items: center;
    display: flex;
    gap: rem(24);
    padding-right: rem(64);

    .vulti-loading {
      position: relative;
      margin: rem(12) 0;
      right: auto;
      top: auto;
    }

    .type {
      height: rem(68);
      min-width: rem(160);

      .counted {
        margin-top: rem(2);
        position: static;
      }
    }

    .key {
      text-align: left;
    }

    .asset {
      position: static;
    }

    .amount {
      position: static;
    }

    .arrow {
      svg {
        display: block;
      }
    }
  }
}
