@use "~variables" as *;

.nft-item {
  background-color: $blue-base;
  border-radius: rem(8);
  overflow: hidden;
  padding: rem(16) rem(20);
  position: relative;

  > .vulti-loading {
    flex: none;
    position: absolute;
    right: rem(20);
    top: rem(28);
  }

  .token-image {
    height: rem(48);
    left: rem(0);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: rem(48);
  }

  .name {
    display: block;
    font-family: $secondary-font;
    font-size: rem(20);
    height: rem(20);
    line-height: rem(18);
  }

  .counted {
    background-color: rgba($color: $cyan-base, $alpha: 0.2);
    border-radius: rem(12);
    display: flex;
    font-size: rem(12);
    font-weight: 600;
    float: left;
    gap: rem(4);
    line-height: rem(22);
    margin-top: rem(6);
    padding: 0 rem(8) 0 rem(4);

    svg {
      fill: $cyan-base;
      height: rem(22);
      width: rem(22);
    }
  }

  .token {
    overflow: hidden;
    padding-left: rem(56);
    position: relative;
  }

  .item {
    align-items: center;
    background-color: $blue-dark;
    border-radius: rem(6);
    display: flex;
    font-weight: 700;
    height: rem(72);
    justify-content: center;
    width: rem(72);

    + .item {
      margin-left: rem(-4);
    }
  }

  .images {
    align-items: center;
    display: flex;
    flex-grow: 1;
    height: rem(72);
    justify-content: center;
    margin-top: rem(16);
  }

  .asset {
    display: block;
    font-family: $secondary-font;
    font-size: rem(12);
    height: rem(20);
    line-height: rem(18);
    position: absolute;
    right: rem(20);
    top: rem(46);
    white-space: nowrap;

    &.multi {
      border-radius: rem(16);
      background-color: $blue-light;
      padding: 0 rem(12);
    }
  }

  .amount {
    display: block;
    font-family: $secondary-font;
    font-size: rem(20);
    font-weight: 700;
    line-height: rem(20);
    position: absolute;
    right: rem(20);
    top: rem(16);
  }

  .action {
    display: block;
    height: rem(24);
    margin: rem(16) auto 0;
    position: relative;
    width: rem(24);
    z-index: 1;

    svg {
      fill: $cyan-base;
      height: inherit;
      width: inherit;
    }
  }

  .arrow {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: end;
    left: 0;
    padding-right: rem(20);
    position: absolute;
    right: 0;
    top: 0;

    svg {
      display: none;
      fill: $gray-1;
      height: rem(20);
      height: rem(20);
    }
  }

  + .nft-item {
    margin-top: rem(16);
  }
}

html[theme="dark"] {
  .nft-item {
    background-color: $gray-12;
    color: $gray-1;
  }
}

html[theme="light"] {
  .nft-item {
    background-color: $gray-3;
    color: $gray-8;

    .token-image {
      border: 1px solid #dedede;
      border-radius: 50%;
    }

    .arrow {
      svg {
        fill: $gray-6;
      }
    }
  }
}

@media (min-width: rem(992)) {
  .nft-item {
    align-items: center;
    display: flex;
    gap: rem(24);
    padding-right: rem(64);

    > .vulti-loading {
      position: relative;
      margin: 0;
      right: auto;
      top: auto;
    }

    .images {
      justify-content: start;
      margin: 0;
    }

    .asset {
      position: static;
    }

    .amount {
      position: static;
    }

    .action {
      margin: 0;
    }

    .arrow {
      svg {
        display: block;
      }
    }
  }
}
