@use "~variables" as *;

.modal-rename-vault {
  .ant-modal-body {
    overflow: hidden;

    .ant-input {
      background-color: $blue-base;
      border: none;
      box-shadow: none;
      line-height: rem(48);
    }
  }

  .ant-modal-footer {
    .ant-btn {
      color: $blue-dark !important;
      height: rem(44);
    }
  }
}
