.asset-page {
  margin: 0 auto;
  max-width: 72.5rem;
  overflow: hidden;
  padding: 0 1rem;

  .breadcrumb {
    display: flex;
    gap: 1rem;

    svg {
      transform: rotate(180deg);
      fill: $gray-1;
      height: 1.5rem;
      width: 1.5rem;
    }

    h1 {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2.25rem;
    }
  }

  .chain {
    padding: 1rem 0;
    position: relative;

    .type {
      font-weight: 700;
      line-height: 2.75rem;
      padding-left: 3rem;
      position: relative;

      img {
        height: 2rem;
        left: 0;
        position: absolute;
        top: 0.375rem;
        width: 2rem;
      }
    }

    .key {
      margin-top: 1rem;
      overflow: hidden;
      text-align: center;
      width: 100%;
    }

    .amount {
      display: block;
      font-size: 1.25em;
      font-weight: 700;
      line-height: 2.75rem;
      position: absolute;
      right: 0;
      top: 1rem;
    }

    .actions {
      display: flex;
      gap: 0.75rem;
      justify-content: center;
      margin-top: 1rem;

      svg {
        fill: $cyan-base;
        height: 1.25rem;
        width: 1.25rem;
      }

      a {
        align-items: center;
        display: flex;
      }
    }
  }

  .content {
    background-color: $blue-base;
    border-radius: 0.5rem;
    margin-top: 2.125rem;
    padding: 0 1.25rem;
  }

  .add {
    align-items: center;
    color: $gray-1;
    display: flex;
    float: left;
    gap: 1rem;
    margin-top: 1.5rem;

    svg {
      fill: $cyan-base;
      height: 2rem;
      width: 2rem;
    }
  }
}

@media (min-width: 48rem) {
  .asset-page {
    .chain {
      display: flex;
      gap: 1.5rem;

      .key {
        height: 2.75rem;
        line-height: 2.75rem;
        margin-top: 0;
      }

      .amount {
        position: static;
      }

      .actions {
        margin-top: 0;
        padding: 0.5rem 0;
        position: static;
      }
    }
  }
}
