.footer-container {
  align-items: center;
  background-color: $blue-dark;
  border-top: solid rem(1) $blue-light;
  bottom: 0;
  display: flex;
  height: rem(100);
  justify-content: space-between;
  min-width: rem(360);
  padding: rem(30) rem(16);
  position: sticky;
  width: 100%;
  z-index: 2;

  a {
    color: $cyan-light;
  }
}

html[theme="dark"] {
  .footer-container {
    background-color: $gray-13;
    border-top: 1px solid $gray-11;
  }
}

html[theme="light"] {
  .footer-container {
    background-color: $gray-1;
    color: $gray-8;
    border-top: 1px solid $gray-5;
  }
}
