.upload-page {
  margin: 0 auto;
  max-width: 42rem;
  min-height: 100vh;
  padding: 3rem 1rem;
  text-align: center;
  .logo-container {
    display: flex;
    justify-content: center;
    margin: 0 auto 3rem;
    .shape {
      width: 3rem !important;
    }
    .text {
      fill: $gray-1;
      width: 9rem !important;
      padding: 0rem 0.4rem 0.4rem 0.4rem;
    }
  }
  .ant-upload-btn {
    display: block !important;
    padding: 3rem 1rem !important;
  }

  .ant-upload-drag-container {
    display: block !important;
  }

  .ant-upload-drag {
    background-color: rgba($color: $cyan-base, $alpha: 0.1);
    border-color: $cyan-base;
    color: $gray-1;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba($color: $cyan-base, $alpha: 0.2);
    }
  }

  .ant-upload-wrapper {
    &.error {
      .ant-upload-drag {
        background-color: rgba($color: $red-dark, $alpha: 0.1);
        border-color: $red-base;
        border-style: solid;
      }
    }

    &.success {
      .ant-upload-drag {
        border-style: solid;
      }
    }
  }

  .logo {
    margin: 0 auto 3rem;
  }

  .heading {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .icon {
    height: 3rem;
    margin: 0 auto 1.5rem;
  }

  .title {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .text {
    font-size: 0.875rem;
    margin-top: 0.5rem;

    u {
      margin-left: 0.25rem;
    }
  }

  .close {
    height: 0.875rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 0.875rem;

    svg {
      fill: $gray-1;
    }
  }

  .image {
    height: 8rem;
    margin: 0 auto 1.5rem;
    max-width: 100%;
  }

  .name {
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .error {
    color: $red-base;
    font-size: 0.875rem;
    margin-top: 0.5rem;
  }

  .hint {
    font-size: 0.875rem;
    margin: 2rem 0;
  }

  .download {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;

    img {
      background-color: $blue-base;
      border: solid 1px rgba($color: $gray-1, $alpha: 0.15);
      border-radius: 0.5rem;
      height: 3rem;
      margin-bottom: 0.875rem;
    }

    .image {
      position: relative;
      top: 0;
      transition: all 0.3s;

      &:hover {
        top: -0.25rem;
      }
    }

    .text {
      color: $gray-1;
      font-size: 0.875rem;
      font-weight: 500;
      opacity: 1;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .wrapper {
    background-color: $blue-base;
    border-radius: 0.75rem;
    padding: 2rem;
  }
}

html[theme="Dark"] {
  .wrapper {
    background-color: $gray-12;
  }
  .import-page {
    .logo-container {
      .text {
        fill: $gray-1;
      }
    }

    .download {
      img {
        background-color: $gray-12;
      }
    }
  }
}

html[theme="Light"] {
  .wrapper {
    background-color: $gray-3;
  }
  .import-page {
    .logo-container {
      .text {
        fill: $gray-8;
      }
    }

    .download {
      img {
        background-color: $gray-6;
      }
    }
  }

  .close {
    svg {
      fill: $gray-8;
    }
  }
  .ant-upload-drag-container {
    .title,
    .text {
      color: $gray-8;
    }
  }
}

@media (min-width: 576px) {
  .upload-page {
    .download {
      flex-direction: row;
    }
  }
}
