@use "~variables" as *;

.upload-page {
  margin: 0 auto;
  max-width: rem(672);
  min-height: 100vh;
  padding: rem(48) rem(16);
  text-align: center;

  .logo {
    display: flex;
    font-size: rem(40);
    font-weight: 600;
    gap: rem(12);
    justify-content: center;
    line-height: rem(48);
    margin: 0 auto rem(48);

    svg {
      height: rem(48);
    }
  }

  .wrapper {
    background-color: $blue-base;
    border-radius: rem(12);
    padding: rem(32);

    .ant-upload-btn {
      display: block !important;
      padding: rem(48) rem(16) !important;
    }

    .ant-upload-drag-container {
      display: block !important;
    }

    .ant-upload-drag {
      background-color: rgba($color: $cyan-base, $alpha: 0.1);
      border-color: $cyan-base;
      color: $gray-1;
      transition: background-color 0.3s;

      &:hover {
        background-color: rgba($color: $cyan-base, $alpha: 0.2);
      }
    }

    .ant-upload-wrapper {
      &.error {
        .ant-upload-drag {
          background-color: rgba($color: $red-dark, $alpha: 0.1);
          border-color: $red-base;
          border-style: solid;
        }
      }

      &.success {
        .ant-upload-drag {
          border-style: solid;
        }
      }
    }

    .heading {
      font-size: rem(24);
      font-weight: 700;
      margin-bottom: rem(32);
    }

    .icon {
      height: rem(48);
      margin: 0 auto rem(24);
    }

    .title {
      font-size: rem(20);
      font-weight: 600;
    }

    .text {
      font-size: rem(14);
      margin-top: rem(8);

      u {
        margin-left: rem(4);
      }
    }

    .close {
      height: rem(14);
      position: absolute;
      right: rem(16);
      top: rem(16);
      width: rem(14);

      svg {
        fill: $gray-1;
      }
    }

    .image {
      height: rem(128);
      margin: 0 auto rem(24);
      max-width: 100%;
    }

    .name {
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .error {
      color: $red-base;
      font-size: rem(14);
      margin-top: rem(8);
    }

    .hint {
      font-size: rem(14);
      margin: rem(32) 0;
    }
  }

  .download-vultisig {
    margin-top: rem(32);
  }
}

html[theme="dark"] {
  .upload-page {
    .logo {
      fill: $gray-1;
    }

    .wrapper {
      background-color: $gray-12;
    }
  }
}

html[theme="light"] {
  .upload-page {
    .logo {
      fill: $gray-8;
    }

    .wrapper {
      background-color: $gray-3;

      .close {
        svg {
          fill: $gray-8;
        }
      }

      .ant-upload-drag-container {
        .title,
        .text {
          color: $gray-8;
        }
      }
    }
  }
}
