.upload-page {
  margin: 0 auto;
  max-width: rem(672);
  min-height: 100vh;
  padding: rem(48) rem(16);
  text-align: center;

  .logo-container {
    display: flex;
    justify-content: center;
    margin: 0 auto rem(48);

    .shape {
      width: rem(48) !important;
    }

    .text {
      fill: $gray-1;
      width: rem(144) !important;
      padding: 0 rem(4) rem(4) rem(4);
    }
  }

  .ant-upload-btn {
    display: block !important;
    padding: rem(48) rem(16) !important;
  }

  .ant-upload-drag-container {
    display: block !important;
  }

  .ant-upload-drag {
    background-color: rgba($color: $cyan-base, $alpha: 0.1);
    border-color: $cyan-base;
    color: $gray-1;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba($color: $cyan-base, $alpha: 0.2);
    }
  }

  .ant-upload-wrapper {
    &.error {
      .ant-upload-drag {
        background-color: rgba($color: $red-dark, $alpha: 0.1);
        border-color: $red-base;
        border-style: solid;
      }
    }

    &.success {
      .ant-upload-drag {
        border-style: solid;
      }
    }
  }

  .heading {
    font-size: rem(24);
    font-weight: 700;
    margin-bottom: rem(32);
  }

  .icon {
    height: rem(48);
    margin: 0 auto rem(24);
  }

  .title {
    font-size: rem(20);
    font-weight: 600;
  }

  .text {
    font-size: rem(14);
    margin-top: rem(8);

    u {
      margin-left: rem(4);
    }
  }

  .close {
    height: rem(14);
    position: absolute;
    right: rem(16);
    top: rem(16);
    width: rem(14);

    svg {
      fill: $gray-1;
    }
  }

  .image {
    height: rem(128);
    margin: 0 auto rem(24);
    max-width: 100%;
  }

  .name {
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .error {
    color: $red-base;
    font-size: rem(14);
    margin-top: rem(8);
  }

  .hint {
    font-size: rem(14);
    margin: rem(32) 0;
  }

  .download {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: rem(24);
    justify-content: center;

    img {
      background-color: $blue-base;
      border: solid 1px rgba($color: $gray-1, $alpha: 0.15);
      border-radius: rem(8);
      height: rem(48);
      margin-bottom: rem(14);
    }

    .image {
      position: relative;
      top: 0;
      transition: all 0.3s;

      &:hover {
        top: -rem(4);
      }
    }

    .text {
      color: $gray-1;
      font-size: rem(14);
      font-weight: 500;
      opacity: 1;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .wrapper {
    background-color: $blue-base;
    border-radius: rem(12);
    padding: rem(32);
  }
}

html[theme="dark"] {
  .upload-page {
    .wrapper {
      background-color: $gray-12;
    }

    .logo-container {
      .text {
        fill: $gray-1;
      }
    }

    .download {
      img {
        background-color: $gray-12;
      }
    }
  }
}

html[theme="light"] {
  .upload-page {
    .wrapper {
      background-color: $gray-3;
    }
    .logo-container {
      .text {
        fill: $gray-8;
      }
    }

    .download {
      img {
        background-color: $gray-6;
      }
    }

    .close {
      svg {
        fill: $gray-8;
      }
    }

    .ant-upload-drag-container {
      .title,
      .text {
        color: $gray-8;
      }
    }
  }
}

@media (min-width: 576px) {
  .upload-page {
    .download {
      flex-direction: row;
    }
  }
}
