@use "~variables" as *;

.modal-language {
  .ant-list-item {
    cursor: pointer;
    padding: rem(14);
    transition: all 0.3s;

    &:hover,
    &.active {
      background-color: $blue-light;
      color: $gray-1;
    }

    + .ant-list-item {
      margin-top: rem(16);
    }
  }

  .ant-modal-footer {
    display: none;
  }
}
