.modal-language {
  .ant-list-item {
    background-color: $blue-base;
    border: none;
    border-radius: rem(8);
    cursor: pointer;
    justify-content: center;
    padding: rem(14);
    transition: all 0.3s;

    &.active {
      background-color: $cyan-base;
      color: $gray-13;
    }

    &:hover {
      background-color: $cyan-base;
      color: $gray-13;
    }

    + .ant-list-item {
      margin-top: rem(16);
    }
  }

  .ant-modal-footer {
    display: none;
  }

  .ant-modal-content {
    padding: 0 rem(30) rem(30);
  }
}
