.modal-currency {
  .ant-list-item {
    background-color: $blue-base;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.875rem;
    transition: all 0.3s;

    &.active {
      background-color: $cyan-base;
      color: $gray-13;
    }

    &:hover {
      background-color: $cyan-base;
      color: $gray-13;
    }

    + .ant-list-item {
      margin-top: 1rem;
    }
  }

  .ant-modal-footer {
    display: none;
  }

  .ant-modal-content {
    padding: 0 1.875rem 1.875rem;
  }
}
