@use "~variables" as *;

.nft-asset-item {
  align-items: center;
  border-top: solid rem(1) $blue-light;
  display: flex;
  gap: rem(16);
  padding: rem(16) 0;

  .image {
    border-radius: rem(4);
    height: rem(72);
    width: rem(72);
  }

  .name {
    font-family: $secondary-font;
    font-weight: 700;
    flex-grow: 1;
  }

  .avatar {
    background-color: $blue-light;
    border-radius: rem(20);
    cursor: pointer;
    display: block;
    padding: rem(2) rem(8) rem(2) rem(12);
    transition: background-color 0.3s;
    white-space: nowrap;

    span {
      display: none;
      font-size: rem(12);
      font-weight: 600;
      line-height: rem(20);
    }

    svg {
      height: rem(20);
      width: rem(20);
    }

    &:hover {
      background-color: rgba($color: $gray-1, $alpha: 0.2);
    }
  }

  .action {
    height: rem(24);
    width: rem(24);

    svg {
      fill: $cyan-base;
      height: inherit;
      width: inherit;
    }
  }
}

@media (min-width: rem(576)) {
  .nft-asset-item {
    .avatar {
      display: flex;
      gap: rem(4);
      justify-content: space-between;
      width: rem(88);

      span {
        display: block;
      }
    }
  }
}

html[theme="dark"] {
  .nft-asset-item {
    border-top-color: $gray-11;
  }
}

html[theme="light"] {
  .nft-asset-item {
    border-top-color: $gray-5;
  }
}
