@use "~variables" as *;

.position-item {
  background-color: $blue-base;
  border-radius: rem(8);
  padding: rem(12);

  .title {
    display: block;
    font-size: rem(16);
    font-weight: 500;
    line-height: rem(22);
  }

  .empty {
    align-items: center;
    background-image: linear-gradient(
      90deg,
      $blue-light,
      rgba($blue-light, 0.3)
    );
    border-radius: rem(8);
    display: flex;
    gap: rem(12);
    margin-top: rem(12);
    padding: rem(22) rem(20);

    span {
      color: $gray-7;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    svg {
      fill: $gray-7;
      height: rem(32);
      width: rem(32);
    }
  }

  .loading {
    align-items: center;
    background-image: linear-gradient(
      90deg,
      $blue-light,
      rgba($blue-light, 0.3)
    );
    border-radius: rem(8);
    display: flex;
    justify-content: center;
    margin-top: rem(12);
    padding: rem(28) 0;
  }

  .list {
    margin-top: rem(12);

    .type {
      .token-image {
        height: rem(32);
        margin: 0 auto;
        width: rem(32);
      }

      .name {
        display: block;
        font-size: rem(14);
        font-weight: 600;
        line-height: rem(22);
        margin-top: rem(8);
        text-align: center;
      }

      .text {
        display: block;
        font-size: rem(12);
        font-weight: 600;
        line-height: rem(22);
        text-align: center;
      }
    }

    .amount {
      align-items: center;
      display: flex;
      justify-content: center;
      gap: rem(24);

      span {
        font-size: rem(16);
        font-weight: 700;
        line-height: rem(22);
      }

      a {
        display: block;

        svg {
          fill: $cyan-base;
          height: rem(22);
          width: rem(22);
        }
      }
    }

    .pool {
      display: flex;
      justify-content: space-between;
      gap: rem(12);
    }

    .item {
      background-image: linear-gradient(
        90deg,
        $blue-light,
        rgba($blue-light, 0.3)
      );
      border-radius: rem(8);
      display: flex;
      gap: rem(12);
      justify-content: space-between;
      padding: rem(12) rem(20);
      overflow: hidden;
      position: relative;

      + .item {
        margin-top: rem(12);
      }

      &.full {
        flex-direction: column;
      }
    }
  }

  + .position-item {
    margin-top: rem(24);
  }
}

html[theme="dark"] {
  .position-item {
    background-color: $gray-12;
  }
}

html[theme="light"] {
  .position-item {
    background-color: $gray-3;
  }
}

@media (min-width: rem(567)) {
  .position-item {
    padding: rem(20);

    .list {
      .type {
        padding-left: rem(44);
        position: relative;

        .token-image {
          left: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }

        .name {
          margin-top: 0;
          text-align: left;
        }

        .text {
          text-align: left;
        }
      }

      .pool {
        gap: rem(20);
      }

      .item {
        padding: rem(16) rem(20);

        &.full {
          flex-direction: row;
        }
      }
    }
  }
}
