.default-layout {
  min-height: 100vh;
  padding: 8.25rem 0 2rem;

  .header {
    background-color: $blue-dark;
    align-items: center;
    border-bottom: solid 1px $blue-light;
    display: flex;
    height: 6.25rem;
    justify-content: space-between;
    left: 0;
    min-width: 22.5rem;
    padding: 1.875rem 1rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;

    .logo {
      img {
        height: 100%;
      }
    }

    .menu {
      svg {
        fill: $gray-1;
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}

@media (min-width: 72.5rem) {
  .default-layout {
    .header {
      padding: 1.875rem 2.5rem;
    }
  }
}
